* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }




  .navbar{
    z-index: 1000;
    position: relative;
    overflow: hidden;
    margin-top: -20px;
    background:#004200;
  }

  /* Estilos para alinear el logo con los elementos de navegación */
  .navbar-brand {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .logo {
    max-height: 90px;
    object-fit: contain;
  }

  .navbar-nav {
    align-items: center;
    height: 100%;
  }

  .nav-item {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    color: rgb(255, 255, 255);
    transition: color 0.5s ease-in-out;
  }
  .nav-link:hover {
    color:#85bb85;
    
  }

    .navbar-nav>li{
    font-size: 24px;

  }
  
  .nav-item:hover{
    text-decoration: 3px underline #33cc66 ;
  }
  
  /* Cambiar el color del subrayado cuando el navbar está cubierto */
  .navbar.filled .nav-item:hover{
    text-decoration: 3px underline white ;
  }


   .footer {
      background-color: #0B2447;
      padding: 40px 0;
  }

  .footer a {
    color: white;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.subscribe-input {
    max-width: 400px;
    margin: auto;
}
.social-icons a {
    margin: 0 5px;
    font-size: 24px;
    color: white;
}
.social-icons a:hover {
    color: #00A8E8;
}
.footer img {
    max-width: 100%;
    border-radius: 10px;
}

.imagen-foot:hover{
    transform: scale(1.05);
      transition: ease-in-out 100ms;
}
    
/* 🔹 RESPONSIVE DESIGN */